@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/*  Paramètres Généraux  */
body {
    background-color: #f4f7f6;
    color: #333;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


.main-header {
    background-color: #1a1a1a;

    color: white;
    padding: 60px 20px;
    text-align: center;
}

.main-header h1 {
    margin: 0;
    font-size: 3em;
    letter-spacing: 2px;
}

.soustitre {
    color: #00ff41;
    font-weight: bold;
    text-transform: uppercase;
}

/*  tout les h2  */
h2 {
    border-bottom: 3px solid #1a1a1a;
    display: inline-block;
    padding-bottom: 5px;
}

.section-moi {
    background: white;
    padding: 30px;
    margin: 40px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}