body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    align-content: center;
    padding-top: 50px;

}

.container {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.input-group {
    display: flex;
    margin-bottom: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;

}

button {
    padding 10px 15px;
    bakcground-color: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;

}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #fff;
    border-bottome: 1px solid #eee;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}